section.sub_page.iogin_page {
    background: none;
}

.header_menu .sub_menu {
    background: #fff;

}

.login_box {
    width: 512px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;

    padding-top: 50px;
}

.login_box h2 {
    font-size: 25px;
    font-weight: 100;

    margin-left: 38px;
}

.login_box hr {
    border: none;
    border-bottom: 2px solid #000;
    width: 440px;
    margin-bottom: 20px;
}

.login_box form {
    text-align: right;
    margin-right: 35px;
    padding-bottom: 50px;
}

.login_box form label {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #000;
}

.login_box form label:first-child {
    padding-right: 10px;
}


.login_box form input {
    width: 317px;
    height: 40px;
    border: none;
    background-color: #f7f7f7;
    margin-left: 53px;

}

.login_box form input.error+p {
    color: red;
    font-weight: 400;
}

.login_box form .desc {
    margin: 12px 0 29px;
    font-size: 12px;

}

.login_box form button {
    border: none;
    background: #444444;
    color: #fff;
    width: 440px;
    height: 63px;
    font-size: 20px;
    letter-spacing: -1px;
    cursor: pointer;
}

.login_box form button:hover {
    background: #000;
}

.login_box_bottom {
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.more_login {
    width: 440px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.more_login div {
    display: inline-block;
}

.more_login a {
    font-size: 14px;
    line-height: 48px;
    color: #666666;
}

.more_login span {
    font-size: 12px;
    color: #eee;
    margin: 0 10px;
}

.login_desc {
    width: 512px;
    margin: 15px auto 0;

    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.5px;
}

.login_desc em {
    font-size: 12.5px;
    font-weight: 500;
    color: #000;
}